@using Microsoft.FluentUI.AspNetCore.Components
@inherits ComponentFieldBase<bool>


<FluentLabel Typo="@LabelTypography"
             Color="@LabelColor"
             Alignment="LabelHorizontalAlignment">@Property.GetDisplay()</FluentLabel>

<FluentSwitch @bind-Value=Value
                 Placeholder="@Property.GetDescription()"
                 style="width: 80%;"
                 InputType="InputType.Password"
                 ReadOnly="@IsReadOnly">
    <span slot="checked-message">&nbsp;&nbsp;@Translate("On")</span>
    <span slot="unchecked-message">&nbsp;&nbsp;@Translate("Off")</span>
</FluentSwitch>