@using MudBlazor
<tr>
    <td><MudIcon Icon="@Row.Level.ConvertToIcon()" Title="@Row.Level.ToString()" Color="@Row.Level.ConvertToColor()" /></td>
    <td>@Row.Message</td>
    <td>@Row.Source</td>
</tr>