@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor


<MudPaper Height="10" Elevation="25">
    <MudToolBar WrapContent="true">
        <MudIconButton Size="Size.Small" Class="mr-5" Icon="@Icons.Material.Filled.Save" Color="Color.Inherit" OnClick="Save" />
    </MudToolBar>
</MudPaper>

<MudGrid>

    <MudItem xs="1">
        <Toolbox @ref=_toolbox Tools="@Toolbox" />
    </MudItem>

    <MudItem xs="11">

        <div class="diagram-container dropzone @dropClass"
             ondrop="@((DragEventArgs args)=>{HandleDrop(args);})"
             ondragover="event.preventDefault();"
             ondragenter="@HandleDragEnter"
             ondragleave="@HandleDragLeave">

            <CascadingValue Value="Diagram" IsFixed="true">
                <DiagramCanvas>

                    <Widgets>

                        <NavigatorWidget Width="200"
                                         Height="120"
                                         UseNodeShape="false"
                                         Class="border border-black bg-white absolute"
                                         Style="bottom: 15px; right: 15px;">

                        </NavigatorWidget>

                        <GridWidget Size="20" Mode="GridMode.Point" BackgroundColor="white" />

                        <SelectionBoxWidget />

                    </Widgets>

                </DiagramCanvas>
            </CascadingValue>
        </div>
    </MudItem>

</MudGrid>