@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Fast.Components.FluentUI
@using MudBlazor
@using Bb.PropertyGrid

<MudPaper Height="10" Elevation="25">
    <MudToolBar WrapContent="true">
        <MudIconButton Size="Size.Small" Class="mr-5" Icon="@Icons.Material.Filled.Save" Color="MudBlazor.Color.Inherit" OnClick="Save" />
    </MudToolBar>
</MudPaper>


<FluentSplitter Orientation="@Microsoft.Fast.Components.FluentUI.Orientation.Horizontal"
                BarSize="6"
                Panel1Size="20%"
                Panel1MinSize="15%"
                Panel2MinSize="50px">
    <Panel1>

        <MudStack>
            <Toolbox @ref=_toolbox Tools="@Toolbox" />
            <MudDivider />
            @ComponentConstants.Properties.Translate(this)
            <PropertyGridView @ref="PropertyGrid" />
        </MudStack>

    </Panel1>

    <Panel2>

        <MudExpansionPanels>
            <MudExpansionPanel @ref=ExpansionDiagnostic Dense="true" >
                <MudSimpleTable>
                    <thead>
                        <tr>
                            <th>Level</th>
                            <th>Description</th>
                            <th>Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Diagnostics != null)
                            @foreach (var row in Diagnostics)
                            {
                                <DiagnosticRow Row="@row" PropertyGridView="PropertyGrid" />
                            }
                    </tbody>

                </MudSimpleTable>
            </MudExpansionPanel>
        </MudExpansionPanels>

        <div class="diagram-container dropzone @dropClass"
             ondrop="@((DragEventArgs args)=>{HandleDrop(args);})"
             ondragover="event.preventDefault();"
             ondragenter="@HandleDragEnter"
             ondragleave="@HandleDragLeave">

            <CascadingValue Value="Diagram" IsFixed="true">
                <DiagramCanvas>

                    <Widgets>

                        <NavigatorWidget Width="200"
                                         Height="120"
                                         UseNodeShape="false"
                                         Class="border border-black bg-white absolute"
                                         Style="bottom: 15px; right: 15px;">

                        </NavigatorWidget>

                        <GridWidget Size="20" Mode="GridMode.Point" BackgroundColor="white" />

                        <SelectionBoxWidget />

                    </Widgets>

                </DiagramCanvas>
            </CascadingValue>
        </div>

    </Panel2>
</FluentSplitter>
